<%- include ./partials/header.ejs %>

    

        <h1>Générer l'horaire pour : <%= event.nom %> </h1>

    <% //dispo[0].dispos pour trouver les arrays de dispos -  %> 

    <button id="btn-generate" eventid=<%= event._id %>  type="button" class="btn btn-warning">Générer horaire</button>
    <input type="checkbox" id="showEmpty" name=showEmpty  value="1" checked>
            <label for="showEmpty"> Afficher les cases vide </label>
<div class="progress">
  <div id="progress-bar-solution" class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
     <div class="container" id="solutioncontainer">
      <h3 id="solutionErrorTitle"></h3>
      <ul id="solutionErrorListe"></ul>


        <ul class="list-group" id="listesolution">

        </ul>
     </div>
        <%- include ./partials/footer.ejs %>