<%- include ./partials/header.ejs %>

    

        <h1>Futur page pour générer horaire pour : <%= event.nom %> </h1>

    <% //dispo[0].dispos pour trouver les arrays de dispos -  %> 

    <button id="test" eventid=<%= event._id %>  type="button" class="btn btn-warning">Test</button>
     <div class="container" id="solutioncontainer">
        <ul class="list-group" id="listesolution">

        </ul>
     </div>
        <%- include ./partials/footer.ejs %>