<%- include ./partials/header.ejs %>
<% function msToHMS( duration ) {

    var millisecondes = parseInt((duration % 1000) / 100),
       secondes = parseInt((duration / 1000) % 60),
       minutes = parseInt((duration / (1000 * 60)) % 60),
       heures = parseInt((duration / (1000 * 60 * 60)) % 24);

     heures = (heures < 10) ? "0" + heures : heures;
     minutes = (minutes < 10) ? "0" + minutes : minutes;
     secondes = (secondes < 10) ? "0" + secondes : secondes;

     return heures + ":" + minutes + ":" + secondes ;
}

%> 
  
    <% if (Date.now() - currentUser.createdAt < 1000) { %>
        <h1>Bienvenue nouvel usager</h1>     
    <% } else { %>
        <h1>Login réussi! Âge de votre compte : <%=  msToHMS(Date.now() - currentUser.createdAt) %> </h1>     
    <% } %>

    <h1>Nombre d'usagers : <%=  data.user_count %> </h1>   
    


<button type="button" class="btn btn-danger"> <a href="/create_event">Créer un évènement</a></a></button>


<%- include ./partials/footer.ejs %>
