<%- include ./partials/header.ejs %>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
  <h1 class="display-4">Audience</h1>
  <p class="lead">Pour simplifier la gestion d'entrevues ou d'auditions!</p>
  <hr class="my-4">
  <p>Connectez vous à votre compte pour créer ou joindre un évènement! <br><br> Première fois sur le site? Enregistrez-vous </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signup" role="button">S'enregistrer</a>
  </p>
</div>
    </div>
    <div class="col-sm">
      
<div class="center_div ">
  <form class="formulaire register-form align-middle" action="/login" method="post">
    <input class="input-signup" name="username" type="text" class="form-control" placeholder="Courriel" value="dany.viens@gmail.com" required autofocus>
    <input class="input-signup" name="password" type="password" class="form-control" placeholder="Mot de passe" value="aaa" required>
    <input class="btn-signup" type="submit" value="Se Connecter" class="btn btn-primary btn-block">
  </form>
</div>
    </div>
  </div>
</div>





<%- include ./partials/footer.ejs %>