<%- include ./partials/header.ejs %>



  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
  <h1 class="display-4">Audience</h1>
  <p class="lead">Pour simplifier la gestion d'entrevues ou d'auditions!</p>
  <hr class="my-4">
  <p>Connectez vous à votre compte pour créer ou joindre un évènement! <br><br> Première fois sur le site? Enregistrez-vous </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signup" role="button">S'enregistrer</a>
  </p>
</div>
    </div>
    <div class="col-sm">
      
<div class="center_div ">
  <form class="formulaire register-form align-middle" action="/login" method="post">
    <input  name="username" type="text" class="input-signup form-control" placeholder="Courriel" value="" required autofocus>
    <input  name="password" type="password" class="input-signup form-control" placeholder="Mot de passe" value="" required>
    <input  type="submit" value="Se Connecter" class="btn btn-signup btn-primary btn-block">
  </form>
</div>
    </div>
  </div>






<%- include ./partials/footer.ejs %>