<%- include ./partials/header.ejs %>

<h1>Se connecter</h1>
<div class="center_div">
  <form class="formulaire register-form" action="/login" method="post">
    <input class="input-signup" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input class="input-signup" name="password" type="password" class="form-control" placeholder="Password" required>
    <input class="btn-signup" type="submit" value="Log in" class="btn btn-primary btn-block">
  </form>
</div>


<%- include ./partials/footer.ejs %>