<%- include ./partials/header.ejs %>

<h1>S'enregistrer</h1>
<form class="formulaire register-form" action="" method="post" autocomplete="off">
<input class="input-signup" type="username" name="username" placeholder="Courriel" required>
<input class="input-signup" type="password" name="password" placeholder="Mot de passe" required>
<input class="input-signup" type="text" name="firstname" placeholder="Prénom" >
<input class="input-signup" type="text" name="lastname" placeholder="Nom de famille">

<button class="btn-signup">
    S'enregistrer
</button>
</form>

</div>

<%- include ./partials/footer.ejs %>