<%- include ./partials/header.ejs %>

<h1>S'enregistrer</h1>
<form class="formulaire register-form" action="" method="post" autocomplete="off">
<input class="input-signup" type="text" name="username" placeholder="Courriel" required>
<input class="input-signup" type="password" name="password" placeholder="Mot de passe" required>
<input class="input-signup" type="text" name="firstName" placeholder="Prénom" required>
<input class="input-signup" type="text" name="lastName" placeholder="Nom de famille" required>

<button class="btn-signup">
    S'enregistrer
</button>
</form>

</div>

<%- include ./partials/footer.ejs %>