:root {
  --navy: #112F41;
  --teal: #155263;
  --teal-light: #4FB99F;
  --jaune: #F2B134;
  --orange: #ff9a3c;
}

* {
    margin: 0;
    padding: 0;
    color: #ffc93c
}

body {
    background-color: var(--navy);
}

a {
    color: white;
}

input{
  background-color: var(--teal);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--orange);
    opacity: 1; /* Firefox */
  }

  .navbar-default {
    background-color: var(--teal);
    border-color: var(--teal-light);

}

.navbar-default .navbar-brand {
  color: var(--jaune);
}

.navbar-default .navbar-nav>li>a {
  color: var(--jaune);
}


.formulaire {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    display: block;
    text-align: center;
}



.btn-signup {
    display: block;
    width: 55%;
    margin: 0 auto 10px;
    padding: .225rem 0.5rem;
    font-size: 1.2rem;
    border-radius: .3rem;
    color: var(--orange);
    outline-color: var(--orange);
    background-color: var(--navy);
    border-color: var(--orange);
    font-weight: 800;
}

.input-signup {
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
    color: var(--jaune);
    background-color: var(--navy);
    margin-bottom: 5px;
    border: 3px solid var(--orange);
    border-radius: 20px;
    outline-style: inherit;
    outline-color: var(--orange);
    text-align: center;
    }


    input[type="number"] {
        width: 100px;
      }
      
      input + span {
        padding-right: 30px;
      }
      
      input:invalid+span:after {
        position: absolute;
        content: '✖';
        padding-left: 5px;
      }
      
      input:valid+span:after {
        position: absolute;
        content: '✓';
        padding-left: 5px;
      }